body {
    font-family: 'Consolas', monospace;
    background-color: black;
    color: floralwhite;
    transition: background-color 0.3s, color 0.3s;
}
label {
    width: 80px;
    height: 40px;
    position: relative;
    overflow: auto;
    display: block;
    background: floralwhite;
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
}
label:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: orange;
    border-radius: 180px;
    transition: 0.3s;
}
input {
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label {
    background: #777;
}
input:checked +label:after {
    left: 15px;
    transform: translateX(100%);
    background: #212125;
}
.background {
    background: floralwhite;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}
body:has(input:checked) {
    background: floralwhite;
    color: black;
}
/* Titles */
h1 {
    font-family: "Roboto Light", monospace;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}
.subTitle {
    font-family: "Roboto Light", monospace;
    font-size: 1.5rem;
    padding-top: 4.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.subTitle h2 {
    text-align: left;
    width: min(80%, 800px);
}
.subText {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.subText a {
    text-align: left;
    width: min(80%, 800px);
}
.subText p {
    text-align: left;
    width: min(80%, 800px);
}
p {
    margin-top: 2px;
    font-family: "Roboto Thin", monospace;
}
/* Navigator */
.navigator {
    font-family: "Roboto Light", monospace;
    font-size: 1.5rem;
    text-align: center;
    /*overflow: scroll;*/
    /*white-space: nowrap;*/
    /*width: 100%;*/
}
.navigator a {
    color: #007bff;
    text-decoration: none;
    margin: 1.1rem;
    transition: transform 0.3s ease;
    position: relative;
    padding-top: 1.3rem;
}
.navigator a:hover {
    transform: scale(1.50);
    color: #0056b3;
}
/* Button */

.scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 50px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #007bff;
    color: floralwhite;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    z-index: 1001;
}
.scrollTopButton:hover {
    background-color: #0056b3;
    transform: scale(1.10);
}
.footer {
    padding-top: 50px;
    font-size: 10px;
    text-align: center;
}
/* Image */
img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 50px auto;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
img:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px;
}
